- var chk1 = (app && app.pg39q1 === "yes")? true : false
- var chk2 = (app && app.pg39q1 === "no")? true : false

- var chk3 = (app && app.pg39q2 === "yes")? true : false
- var chk4 = (app && app.pg39q2 === "no")? true : false

- var chk5 = (app && app.pg39q3 === "yes")? true : false
- var chk6 = (app && app.pg39q3 === "no")? true : false

- var chk7 = (app && app.pg39q4 === "yes")? true : false
- var chk8 = (app && app.pg39q4 === "no")? true : false

- var chk9 = (app && app.pg39q5 === "yes")? true : false
- var chk10 = (app && app.pg39q5 === "no")? true : false

- var chk11 = (app && app.pg39q6 === "yes")? true : false
- var chk12 = (app && app.pg39q6 === "no")? true : false

- var chk13 = (app && app.pg39q7 === "yes")? true : false
- var chk14 = (app && app.pg39q7 === "no")? true : false

- var chk15 = (app && app.pg39q8 === "yes")? true : false
- var chk16 = (app && app.pg39q8 === "no")? true : false

- var chk17 = (app && app.pg39q9 === "yes")? true : false
- var chk18 = (app && app.pg39q9 === "no")? true : false

- var chk19 = (app && app.pg39q10 === "yes")? true : false
- var chk20 = (app && app.pg39q10 === "no")? true : false

- var chk21 = (app && app.pg39q11 === "yes")? true : false
- var chk22 = (app && app.pg39q11 === "no")? true : false

- var chk23 = (app && app.pg39q12 === "yes")? true : false
- var chk24 = (app && app.pg39q12 === "no")? true : false

- var chk25 = (app && app.pg39q13 === "yes")? true : false
- var chk26 = (app && app.pg39q13 === "no")? true : false

- var chk27 = (app && app.pg39q14 === "yes")? true : false
- var chk28 = (app && app.pg39q14 === "no")? true : false

- var chk29 = (app && app.pg39q15 === "yes")? true : false
- var chk30 = (app && app.pg39q15 === "no")? true : false

- var chk31 = (app && app.pg39q16 === "yes")? true : false
- var chk32 = (app && app.pg39q16 === "no")? true : false

- var chk33 = (app && app.pg39q17 === "yes")? true : false
- var chk34 = (app && app.pg39q17 === "no")? true : false

- var chk35 = (app && app.pg39q18 === "yes")? true : false
- var chk36 = (app && app.pg39q18 === "no")? true : false

- var chk37 = (app && app.pg39q19 === "yes")? true : false
- var chk38 = (app && app.pg39q19 === "no")? true : false

- var chk39 = (app && app.pg39q20 === "yes")? true : false
- var chk40 = (app && app.pg39q20 === "no")? true : false

- var chk41 = (app && app.pg39q21 === "yes")? true : false
- var chk42 = (app && app.pg39q21 === "no")? true : false

- var chk43 = (app && app.pg39q22 === "yes")? true : false
- var chk44 = (app && app.pg39q22 === "no")? true : false

- var chk45 = (app && app.pg39q23 === "yes")? true : false
- var chk46 = (app && app.pg39q23 === "no")? true : false

- var chk47 = (app && app.pg39q24 === "yes")? true : false
- var chk48 = (app && app.pg39q24 === "no")? true : false

- var chk49 = (app && app.pg39q25 === "yes")? true : false
- var chk50 = (app && app.pg39q25 === "no")? true : false

- var chk51 = (app && app.pg39q26 === "yes")? true : false
- var chk52 = (app && app.pg39q26 === "no")? true : false

- var chk53 = (app && app.pg39q27 === "yes")? true : false
- var chk54 = (app && app.pg39q27 === "no")? true : false

- var chk55 = (app && app.pg39q28 === "yes")? true : false
- var chk56 = (app && app.pg39q28 === "no")? true : false

- var chk57 = (app && app.pg39q29 === "yes")? true : false
- var chk58 = (app && app.pg39q29 === "no")? true : false

- var chk59 = (app && app.pg39q30 === "yes")? true : false
- var chk60 = (app && app.pg39q30 === "no")? true : false

- var chk61 = (app && app.pg39q31 === "yes")? true : false
- var chk62 = (app && app.pg39q31 === "no")? true : false

- var chk63 = (app && app.pg39q32 === "yes")? true : false
- var chk64 = (app && app.pg39q32 === "no")? true : false

- var chk65 = (app && app.pg39q33 === "yes")? true : false
- var chk66 = (app && app.pg39q33 === "no")? true : false

- var chk67 = (app && app.pg39q34 === "yes")? true : false
- var chk68 = (app && app.pg39q34 === "no")? true : false

- var chk69 = (app && app.pg39q35 === "yes")? true : false
- var chk70 = (app && app.pg39q35 === "no")? true : false

- var chk71 = (app && app.pg39q36 === "yes")? true : false
- var chk72 = (app && app.pg39q36 === "no")? true : false


- var chk73 = (app && app.pg39q37 === "yes")? true : false
- var chk74 = (app && app.pg39q37 === "no")? true : false


- var chk75 = (app && app.pg39q38 === "yes")? true : false
- var chk76 = (app && app.pg39q38 === "no")? true : false

- var chk77 = (app && app.pg39q39 === "yes")? true : false
- var chk78 = (app && app.pg39q39 === "no")? true : false

- var chk79 = (app && app.pg39q40 === "yes")? true : false
- var chk80 = (app && app.pg39q40 === "no")? true : false

- var chk81 = (app && app.pg39q41 === "yes")? true : false
- var chk82 = (app && app.pg39q41 === "no")? true : false

- var chk83 = (app && app.pg39q42 === "yes")? true : false
- var chk84 = (app && app.pg39q42 === "no")? true : false

- var chk85 = (app && app.pg39q43 === "yes")? true : false
- var chk86 = (app && app.pg39q43 === "no")? true : false

- var chk87 = (app && app.pg39q44 === "yes")? true : false
- var chk88 = (app && app.pg39q44 === "no")? true : false





















.row
    .col-md-12
        .form-group
            h4.mt-0.header-title.text-center.text-dark B&D HOSPICE SERVICES dba.
            h2.text-center.text-dark TRIUNION HEALTHCARE
            p.card-text.text-center.text-dark 6350 Laurel Canyon Blvd. Ste 207 North Hollywood CA 91606
            br
            br


        .form-group
            .form-row.col-md-12
                .table-responsive
                    table.table.table-bordered.mb-0
                        thead
                            tr

                                th(colspan="4").text-center SELF ASSESSMENT
                                th.text-center(colspan="4" rowspan='3') Competency for the Licensed Practical / Vocational Nurse
                                th.text-center(rowspan='3') Proficiency Required
                                th.text-center(rowspan='3') Evaluation Method
                                th.text-center(rowspan='3') Compentency Validation Indicated By Preceptors Initials and Date


                            tr
                                th(colspan="2").text-center Do you have experience with this skill ?
                                th(colspan="2").text-center Are you competent performing the following :

                            tr
                                th.text-center Yes
                                th.text-center No
                                th.text-center Yes
                                th.text-center No

                        tbody
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 31. Concept of death and dying
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q1yes.custom-control-input(type='radio' name='pg39q1' checked=chk1 value='yes')
                                            label.custom-control-label(for='pg39q1yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q1no.custom-control-input(type='radio' name='pg39q1' checked=chk2 value='no')
                                            label.custom-control-label(for='pg39q1no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q2yes.custom-control-input(type='radio' name='pg39q2' checked=chk3 value='yes')
                                            label.custom-control-label(for='pg39q2yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q2no.custom-control-input(type='radio' name='pg39q2' checked=chk4 value='no')
                                            label.custom-control-label(for='pg39q2no')

                                td.text-center(colspan='4')
                                    | a. Normal Vs Abnormal
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr1.form-control.waves-float(type='text' name='pg39pr1' value= (app)? app.pg39pr1 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em1.form-control.waves-float(type='text' name='pg39em1' value= (app)? app.pg39em1 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp1.form-control.waves-float(type='text' name='pg39comp1' value= (app)? app.pg39comp1 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q3yes.custom-control-input(type='radio' name='pg39q3' checked=chk5 value='yes')
                                            label.custom-control-label(for='pg39q3yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q3no.custom-control-input(type='radio' name='pg39q3' checked=chk6 value='no')
                                            label.custom-control-label(for='pg39q3no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q4yes.custom-control-input(type='radio' name='pg39q4' checked=chk7 value='yes')
                                            label.custom-control-label(for='pg39q4yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q4no.custom-control-input(type='radio' name='pg39q4' checked=chk8 value='no')
                                            label.custom-control-label(for='pg39q4no')

                                td.text-center(colspan='4')
                                    | b. Cultural attitudes toward death
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr2.form-control.waves-float(type='text' name='pg39pr2' value= (app)? app.pg39pr2 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em2.form-control.waves-float(type='text' name='pg39em2' value= (app)? app.pg39em2 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp2.form-control.waves-float(type='text' name='pg39comp2' value= (app)? app.pg39comp2 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q5yes.custom-control-input(type='radio' name='pg39q5' checked=chk9 value='yes')
                                            label.custom-control-label(for='pg39q5yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q5no.custom-control-input(type='radio' name='pg39q5' checked=chk10 value='no')
                                            label.custom-control-label(for='pg39q5no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q6yes.custom-control-input(type='radio' name='pg39q6' checked=chk11 value='yes')
                                            label.custom-control-label(for='pg39q6yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q6no.custom-control-input(type='radio' name='pg39q6' checked=chk12 value='no')
                                            label.custom-control-label(for='pg39q6no')

                                td.text-center(colspan='4')
                                    | c. Values of patient / Family
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr3.form-control.waves-float(type='text' name='pg39pr3' value= (app)? app.pg39pr3 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em3.form-control.waves-float(type='text' name='pg39em3' value= (app)? app.pg39em3 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp3.form-control.waves-float(type='text' name='pg39comp3' value= (app)? app.pg39comp3 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q7yes.custom-control-input(type='radio' name='pg39q7' checked=chk13 value='yes')
                                            label.custom-control-label(for='pg39q7yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q7no.custom-control-input(type='radio' name='pg39q7' checked=chk14 value='no')
                                            label.custom-control-label(for='pg39q7no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q8yes.custom-control-input(type='radio' name='pg39q8' checked=chk15 value='yes')
                                            label.custom-control-label(for='pg39q8yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q8no.custom-control-input(type='radio' name='pg39q8' checked=chk16 value='no')
                                            label.custom-control-label(for='pg39q8no')

                                td.text-center(colspan='4')
                                    | d. Grieving And Fears Of Dying Patient
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr4.form-control.waves-float(type='text' name='pg39pr4' value= (app)? app.pg39pr4 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em4.form-control.waves-float(type='text' name='pg39em4' value= (app)? app.pg39em4 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp4.form-control.waves-float(type='text' name='pg39comp4' value= (app)? app.pg39comp4 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q9yes.custom-control-input(type='radio' name='pg39q9' checked=chk17 value='yes')
                                            label.custom-control-label(for='pg39q9yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q9no.custom-control-input(type='radio' name='pg39q9' checked=chk18 value='no')
                                            label.custom-control-label(for='pg39q9no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q10yes.custom-control-input(type='radio' name='pg39q10' checked=chk19 value='yes')
                                            label.custom-control-label(for='pg39q10yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q10no.custom-control-input(type='radio' name='pg39q10' checked=chk20 value='no')
                                            label.custom-control-label(for='pg39q10no')

                                td.text-center(colspan='4')
                                    | e. Denial And Defences mechanisims
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr5.form-control.waves-float(type='text' name='pg39pr5' value= (app)? app.pg39pr5 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em5.form-control.waves-float(type='text' name='pg39em5' value= (app)? app.pg39em5 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp5.form-control.waves-float(type='text' name='pg39comp5' value= (app)? app.pg39comp5 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q11yes.custom-control-input(type='radio' name='pg39q11' checked=chk21 value='yes')
                                            label.custom-control-label(for='pg39q11yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q11no.custom-control-input(type='radio' name='pg39q11' checked=chk22 value='no')
                                            label.custom-control-label(for='pg39q11no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q12yes.custom-control-input(type='radio' name='pg39q12' checked=chk23 value='yes')
                                            label.custom-control-label(for='pg39q12yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q12no.custom-control-input(type='radio' name='pg39q12' checked=chk24 value='no')
                                            label.custom-control-label(for='pg39q12no')

                                td.text-center(colspan='4')
                                    |  F. Grief and family children and others
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr6.form-control.waves-float(type='text' name='pg39pr6' value= (app)? app.pg39pr6 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em6.form-control.waves-float(type='text' name='pg39em6' value= (app)? app.pg39em6 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp6.form-control.waves-float(type='text' name='pg39comp6' value= (app)? app.pg39comp6 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q13yes.custom-control-input(type='radio' name='pg39q13' checked=chk25 value='yes')
                                            label.custom-control-label(for='pg39q13yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q13no.custom-control-input(type='radio' name='pg39q13' checked=chk26 value='no')
                                            label.custom-control-label(for='pg39q13no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q14yes.custom-control-input(type='radio' name='pg39q14' checked=chk27 value='yes')
                                            label.custom-control-label(for='pg39q14yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q14no.custom-control-input(type='radio' name='pg39q14' checked=chk28 value='no')
                                            label.custom-control-label(for='pg39q14no')

                                td.text-center(colspan='4')
                                    | G. Anticipatory Grief
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr7.form-control.waves-float(type='text' name='pg39pr7' value= (app)? app.pg39pr7 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em7.form-control.waves-float(type='text' name='pg39em7' value= (app)? app.pg39em7 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp7.form-control.waves-float(type='text' name='pg39comp7' value= (app)? app.pg39comp7 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q15yes.custom-control-input(type='radio' name='pg39q15' checked=chk29 value='yes')
                                            label.custom-control-label(for='pg39q15yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q15no.custom-control-input(type='radio' name='pg39q15' checked=chk30 value='no')
                                            label.custom-control-label(for='pg39q15no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q16yes.custom-control-input(type='radio' name='pg39q16' checked=chk31 value='yes')
                                            label.custom-control-label(for='pg39q16yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q16no.custom-control-input(type='radio' name='pg39q16' checked=chk32 value='no')
                                            label.custom-control-label(for='pg39q16no')

                                td.text-center(colspan='4')
                                    | H. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr8.form-control.waves-float(type='text' name='pg39pr8' value= (app)? app.pg39pr8 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em8.form-control.waves-float(type='text' name='pg39em8' value= (app)? app.pg39em8 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp8.form-control.waves-float(type='text' name='pg39comp8' value= (app)? app.pg39comp8 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 32. Communication skills
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q17yes.custom-control-input(type='radio' name='pg39q17' checked=chk33 value='yes')
                                            label.custom-control-label(for='pg39q17yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q17no.custom-control-input(type='radio' name='pg39q17' checked=chk34 value='no')
                                            label.custom-control-label(for='pg39q17no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q18yes.custom-control-input(type='radio' name='pg39q18' checked=chk35 value='yes')
                                            label.custom-control-label(for='pg39q18yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q18no.custom-control-input(type='radio' name='pg39q18' checked=chk36 value='no')
                                            label.custom-control-label(for='pg39q18no')

                                td.text-center(colspan='4')
                                    | A. Eye Contact active listening
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr9.form-control.waves-float(type='text' name='pg39pr9' value= (app)? app.pg39pr9 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em9.form-control.waves-float(type='text' name='pg39em9' value= (app)? app.pg39em9 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp9.form-control.waves-float(type='text' name='pg39comp9' value= (app)? app.pg39comp9 : '')

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q19yes.custom-control-input(type='radio' name='pg39q19' checked=chk37 value='yes')
                                            label.custom-control-label(for='pg39q19yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q19no.custom-control-input(type='radio' name='pg39q19' checked=chk38 value='no')
                                            label.custom-control-label(for='pg39q19no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q20yes.custom-control-input(type='radio' name='pg39q20' checked=chk39 value='yes')
                                            label.custom-control-label(for='pg39q20yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q20no.custom-control-input(type='radio' name='pg39q20' checked=chk40 value='no')
                                            label.custom-control-label(for='pg39q20no')

                                td.text-center(colspan='4')
                                    | B. Avoiding interruptions and judgemental responses
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr10.form-control.waves-float(type='text' name='pg39pr10' value= (app)? app.pg39pr10 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em10.form-control.waves-float(type='text' name='pg39em10' value= (app)? app.pg39em10 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp10.form-control.waves-float(type='text' name='pg39comp10' value= (app)? app.pg39comp10 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q21yes.custom-control-input(type='radio' name='pg39q21' checked=chk41 value='yes')
                                            label.custom-control-label(for='pg39q21yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q21no.custom-control-input(type='radio' name='pg39q21' checked=chk42 value='no')
                                            label.custom-control-label(for='pg39q21no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q22yes.custom-control-input(type='radio' name='pg39q22' checked=chk43 value='yes')
                                            label.custom-control-label(for='pg39q22yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q22no.custom-control-input(type='radio' name='pg39q22' checked=chk44 value='no')
                                            label.custom-control-label(for='pg39q22no')

                                td.text-center(colspan='4')
                                    | C. Open Ended Questions
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr11.form-control.waves-float(type='text' name='pg39pr11' value= (app)? app.pg39pr11 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em11.form-control.waves-float(type='text' name='pg39em11' value= (app)? app.pg39em11 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp11.form-control.waves-float(type='text' name='pg39comp11' value= (app)? app.pg39comp11 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q23yes.custom-control-input(type='radio' name='pg39q23' checked=chk45 value='yes')
                                            label.custom-control-label(for='pg39q23yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q23no.custom-control-input(type='radio' name='pg39q23' checked=chk46 value='no')
                                            label.custom-control-label(for='pg39q23no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q24yes.custom-control-input(type='radio' name='pg39q24' checked=chk47 value='yes')
                                            label.custom-control-label(for='pg39q24yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q24no.custom-control-input(type='radio' name='pg39q24' checked=chk48 value='no')
                                            label.custom-control-label(for='pg39q24no')

                                td.text-center(colspan='4')
                                    | D. Paraphrasing and reflection
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr12.form-control.waves-float(type='text' name='pg39pr12' value= (app)? app.pg39pr12 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em12.form-control.waves-float(type='text' name='pg39em12' value= (app)? app.pg39em12 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp12.form-control.waves-float(type='text' name='pg39comp12' value= (app)? app.pg39comp12 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q25yes.custom-control-input(type='radio' name='pg39q25' checked=chk49 value='yes')
                                            label.custom-control-label(for='pg39q25yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q25no.custom-control-input(type='radio' name='pg39q25' checked=chk50 value='no')
                                            label.custom-control-label(for='pg39q25no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q26yes.custom-control-input(type='radio' name='pg39q26' checked=chk51 value='yes')
                                            label.custom-control-label(for='pg39q26yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q26no.custom-control-input(type='radio' name='pg39q26' checked=chk52 value='no')
                                            label.custom-control-label(for='pg39q26no')

                                td.text-center(colspan='4')
                                    | E. Self Disclosure
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr13.form-control.waves-float(type='text' name='pg39pr13' value= (app)? app.pg39pr13 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em13.form-control.waves-float(type='text' name='pg39em13' value= (app)? app.pg39em13 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp13.form-control.waves-float(type='text' name='pg39comp13' value= (app)? app.pg39comp13 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q27yes.custom-control-input(type='radio' name='pg39q27' checked=chk53 value='yes')
                                            label.custom-control-label(for='pg39q27yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q27no.custom-control-input(type='radio' name='pg39q27' checked=chk54 value='no')
                                            label.custom-control-label(for='pg39q27no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q28yes.custom-control-input(type='radio' name='pg39q28' checked=chk55 value='yes')
                                            label.custom-control-label(for='pg39q28yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q28no.custom-control-input(type='radio' name='pg39q28' checked=chk56 value='no')
                                            label.custom-control-label(for='pg39q28no')

                                td.text-center(colspan='4')
                                    | F. Support and reassurrance
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr14.form-control.waves-float(type='text' name='pg39pr14' value= (app)? app.pg39pr14 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em14.form-control.waves-float(type='text' name='pg39em14' value= (app)? app.pg39em14 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp14.form-control.waves-float(type='text' name='pg39comp14' value= (app)? app.pg39comp14 : '')

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q29yes.custom-control-input(type='radio' name='pg39q29' checked=chk57 value='yes')
                                            label.custom-control-label(for='pg39q29yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q29no.custom-control-input(type='radio' name='pg39q29' checked=chk58 value='no')
                                            label.custom-control-label(for='pg39q29no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q30yes.custom-control-input(type='radio' name='pg39q30' checked=chk59 value='yes')
                                            label.custom-control-label(for='pg39q39yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q30no.custom-control-input(type='radio' name='pg39q30' checked=chk60 value='no')
                                            label.custom-control-label(for='pg39q39no')

                                td.text-center(colspan='4')
                                    | g. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr15.form-control.waves-float(type='text' name='pg39pr15' value= (app)? app.pg39pr15 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em15.form-control.waves-float(type='text' name='pg39em15' value= (app)? app.pg39em15 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp15.form-control.waves-float(type='text' name='pg39comp15' value= (app)? app.pg39comp15 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q31yes.custom-control-input(type='radio' name='pg39q31' checked=chk61 value='yes')
                                            label.custom-control-label(for='pg39q31yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q31no.custom-control-input(type='radio' name='pg39q31' checked=chk62 value='no')
                                            label.custom-control-label(for='pg39q31no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q32yes.custom-control-input(type='radio' name='pg39q32' checked=chk63 value='yes')
                                            label.custom-control-label(for='pg39q32yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q32no.custom-control-input(type='radio' name='pg39q32' checked=chk64 value='no')
                                            label.custom-control-label(for='pg39q32no')

                                td.text-center(colspan='4')
                                    | 33. Acceptance of differing cultures / religious Values
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr16.form-control.waves-float(type='text' name='pg39pr16' value= (app)? app.pg39pr16 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em16.form-control.waves-float(type='text' name='pg39em16' value= (app)? app.pg39em16 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp16.form-control.waves-float(type='text' name='pg39comp16' value= (app)? app.pg39comp16 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 34. Comport Care of the patient / Family
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q33yes.custom-control-input(type='radio' name='pg39q33' checked=chk65 value='yes')
                                            label.custom-control-label(for='pg39q33yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q33no.custom-control-input(type='radio' name='pg39q33' checked=chk66 value='no')
                                            label.custom-control-label(for='pg39q33no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q34yes.custom-control-input(type='radio' name='pg39q34' checked=chk67 value='yes')
                                            label.custom-control-label(for='pg39q34yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q34no.custom-control-input(type='radio' name='pg39q34' checked=chk68 value='no')
                                            label.custom-control-label(for='pg39q34no')

                                td.text-center(colspan='4')
                                    | A. Positioning
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr17.form-control.waves-float(type='text' name='pg39pr17' value= (app)? app.pg39pr17 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em17.form-control.waves-float(type='text' name='pg39em17' value= (app)? app.pg39em17 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp17.form-control.waves-float(type='text' name='pg39comp17' value= (app)? app.pg39comp17 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q35yes.custom-control-input(type='radio' name='pg39q35' checked=chk69 value='yes')
                                            label.custom-control-label(for='pg39q35yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q35no.custom-control-input(type='radio' name='pg39q35' checked=chk70 value='no')
                                            label.custom-control-label(for='pg39q35no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q36yes.custom-control-input(type='radio' name='pg39q36' checked=chk71 value='yes')
                                            label.custom-control-label(for='pg39q36yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q36no.custom-control-input(type='radio' name='pg39q36' checked=chk72 value='no')
                                            label.custom-control-label(for='pg39q36no')

                                td.text-center(colspan='4')
                                    | B. Music Theraphy
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr18.form-control.waves-float(type='text' name='pg39pr18' value= (app)? app.pg39pr18 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em18.form-control.waves-float(type='text' name='pg39em18' value= (app)? app.pg39em18 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp18.form-control.waves-float(type='text' name='pg39comp18' value= (app)? app.pg39comp18 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q37yes.custom-control-input(type='radio' name='pg39q37' checked=chk73 value='yes')
                                            label.custom-control-label(for='pg39q37yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q37no.custom-control-input(type='radio' name='pg39q37' checked=chk74 value='no')
                                            label.custom-control-label(for='pg39q37no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q38yes.custom-control-input(type='radio' name='pg39q38' checked=chk75 value='yes')
                                            label.custom-control-label(for='pg39q38yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q38no.custom-control-input(type='radio' name='pg39q38' checked=chk76 value='no')
                                            label.custom-control-label(for='pg39q38no')

                                td.text-center(colspan='4')
                                    | C. Massage
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr19.form-control.waves-float(type='text' name='pg39pr19' value= (app)? app.pg39pr19 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em19.form-control.waves-float(type='text' name='pg39em19' value= (app)? app.pg39em19 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp19.form-control.waves-float(type='text' name='pg39comp19' value= (app)? app.pg39comp19 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q39yes.custom-control-input(type='radio' name='pg39q39' checked=chk77 value='yes')
                                            label.custom-control-label(for='pg39q39yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q39no.custom-control-input(type='radio' name='pg39q39' checked=chk78 value='no')
                                            label.custom-control-label(for='pg39q39no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q40yes.custom-control-input(type='radio' name='pg39q40' checked=chk79 value='yes')
                                            label.custom-control-label(for='pg39q40yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q40no.custom-control-input(type='radio' name='pg39q40' checked=chk80 value='no')
                                            label.custom-control-label(for='pg39q40no')

                                td.text-center(colspan='4')
                                    | D. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr20.form-control.waves-float(type='text' name='pg39pr20' value= (app)? app.pg39pr20 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em20.form-control.waves-float(type='text' name='pg39em20' value= (app)? app.pg39em20 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp20.form-control.waves-float(type='text' name='pg39comp20' value= (app)? app.pg39comp20 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q41yes.custom-control-input(type='radio' name='pg39q41' checked=chk81 value='yes')
                                            label.custom-control-label(for='pg39q41yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q41no.custom-control-input(type='radio' name='pg39q41' checked=chk82 value='no')
                                            label.custom-control-label(for='pg39q41no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q42yes.custom-control-input(type='radio' name='pg39q42' checked=chk83 value='yes')
                                            label.custom-control-label(for='pg39q42yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q42no.custom-control-input(type='radio' name='pg39q42' checked=chk84 value='no')
                                            label.custom-control-label(for='pg39q42no')

                                td.text-center(colspan='4')
                                    | 35. Handling a death at home
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr21.form-control.waves-float(type='text' name='pg39pr21' value= (app)? app.pg39pr21 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em21.form-control.waves-float(type='text' name='pg39em21' value= (app)? app.pg39em21 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp21.form-control.waves-float(type='text' name='pg39comp21' value= (app)? app.pg39comp21 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q43yes.custom-control-input(type='radio' name='pg39q43' checked=chk85  value='yes')
                                            label.custom-control-label(for='pg39q43yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q43no.custom-control-input(type='radio' name='pg39q43' checked=chk86 value='no')
                                            label.custom-control-label(for='pg39q43no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q44yes.custom-control-input(type='radio' name='pg39q44' checked=chk87 value='yes')
                                            label.custom-control-label(for='pg39q44yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg39q44no.custom-control-input(type='radio' name='pg39q44' checked=chk88 value='no')
                                            label.custom-control-label(for='pg39q44no')

                                td.text-center(colspan='4')
                                    | 36. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39pr22.form-control.waves-float(type='text' name='pg39pr22' value= (app)? app.pg39pr22 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39em22.form-control.waves-float(type='text' name='pg39em22' value= (app)? app.pg39em22 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg39comp22.form-control.waves-float(type='text' name='pg39comp22' value= (app)? app.pg39comp22 : '')


                            tr
                                td(colspan='12')
                                    .form-group.col-md-12
                                        label.text-dark COMMENTS
                                        textarea.form-control(checked= rows='5')
                                    .form-row.col-md-
                                        .form-group.col-md-6.text-center
                                            .card
                                                .card-body.bg-white
                                                    div.flex.text-center
                                                        div#sigbox(style="width:450px;")
                                                            input#signature(name='pg39signature1' value= (app) ? app.pg39signature1 : '' type='text' placeholder='Sign here' style="font-size:50px;")
                                                    br
                                                    h4.mt-0.header-title.text-center.text-dark Employee Signature
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='pg39signaturedate1' required value= (app)? app.pg39signaturedate1 : '')
                                    .form-row.col-md-12
                                        .form-group.col-md-6.text-center
                                            .card
                                                .card-body.bg-white
                                                    div.flex.text-center
                                                        div#sigbox(style="width:450px;")
                                                            input#signature(name='pg39signature2' value= (app) ? app.pg39signature2 : '' type='text' placeholder='Sign here' style="font-size:50px;")
                                                    br
                                                    h4.mt-0.header-title.text-center.text-dark Supervisor Signature
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='pg39signaturedate2' required value= (app)? app.pg39signaturedate2 : '')
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='pg39preceptors1' required value= (app)? app.pg39preceptors1 : '')
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='pg39preceptors2' required value= (app)? app.pg39preceptors2 : '')
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='pg39preceptors3' required value= (app)? app.pg39preceptors3 : '')
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='pg39preceptors4' required value= (app)? app.pg39preceptors4 : '')
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='pg39preceptors5' required value= (app)? app.pg39preceptors5 : '')
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='pg39preceptors6' required value= (app)? app.pg39preceptors6 : '')
                                    .form-row.col-md-12
                                        .form-group.col-md-6
                                            label.text-dark Preceptor(s)
                                            input.form-control(type='text' name='pg39preceptors7' required value= (app)? app.pg39preceptors7 : '')
                                            small.form-text.text-muted.text-dark By Giving Your Full Name You Are Agreeing The Answers Above
                                        .form-group.col-md-6
                                            label.text-dark Date
                                            input.form-control(type='date' name='pg39preceptors8' required value= (app)? app.pg39preceptors8 : '')










