- var chk1 = (app && app.pg38q1 === "yes")? true : false
- var chk2 = (app && app.pg38q1 === "no")? true : false

- var chk3 = (app && app.pg38q2 === "yes")? true : false
- var chk4 = (app && app.pg38q2 === "no")? true : false

- var chk5 = (app && app.pg38q3 === "yes")? true : false
- var chk6 = (app && app.pg38q3 === "no")? true : false

- var chk7 = (app && app.pg38q4 === "yes")? true : false
- var chk8 = (app && app.pg38q4 === "no")? true : false

- var chk9 = (app && app.pg38q5 === "yes")? true : false
- var chk10 = (app && app.pg38q5 === "no")? true : false

- var chk11 = (app && app.pg38q6 === "yes")? true : false
- var chk12 = (app && app.pg38q6 === "no")? true : false

- var chk13 = (app && app.pg38q7 === "yes")? true : false
- var chk14 = (app && app.pg38q7 === "no")? true : false

- var chk15 = (app && app.pg38q8 === "yes")? true : false
- var chk16 = (app && app.pg38q8 === "no")? true : false

- var chk17 = (app && app.pg38q9 === "yes")? true : false
- var chk18 = (app && app.pg38q9 === "no")? true : false

- var chk19 = (app && app.pg38q10 === "yes")? true : false
- var chk20 = (app && app.pg38q10 === "no")? true : false

- var chk21 = (app && app.pg38q11 === "yes")? true : false
- var chk22 = (app && app.pg38q11 === "no")? true : false

- var chk23 = (app && app.pg38q12 === "yes")? true : false
- var chk24 = (app && app.pg38q12 === "no")? true : false

- var chk25 = (app && app.pg38q13 === "yes")? true : false
- var chk26 = (app && app.pg38q13 === "no")? true : false

- var chk27 = (app && app.pg38q14 === "yes")? true : false
- var chk28 = (app && app.pg38q14 === "no")? true : false

- var chk29 = (app && app.pg38q15 === "yes")? true : false
- var chk30 = (app && app.pg38q15 === "no")? true : false

- var chk31 = (app && app.pg38q16 === "yes")? true : false
- var chk32 = (app && app.pg38q16 === "no")? true : false

- var chk33 = (app && app.pg38q17 === "yes")? true : false
- var chk34 = (app && app.pg38q17 === "no")? true : false

- var chk35 = (app && app.pg38q18 === "yes")? true : false
- var chk36 = (app && app.pg38q18 === "no")? true : false

- var chk37 = (app && app.pg38q19 === "yes")? true : false
- var chk38 = (app && app.pg38q19 === "no")? true : false

- var chk39 = (app && app.pg38q20 === "yes")? true : false
- var chk40 = (app && app.pg38q20 === "no")? true : false

- var chk41 = (app && app.pg38q21 === "yes")? true : false
- var chk42 = (app && app.pg38q21 === "no")? true : false

- var chk43 = (app && app.pg38q22 === "yes")? true : false
- var chk44 = (app && app.pg38q22 === "no")? true : false

- var chk45 = (app && app.pg38q23 === "yes")? true : false
- var chk46 = (app && app.pg38q23 === "no")? true : false

- var chk47 = (app && app.pg38q24 === "yes")? true : false
- var chk48 = (app && app.pg38q24 === "no")? true : false

- var chk49 = (app && app.pg38q25 === "yes")? true : false
- var chk50 = (app && app.pg38q25 === "no")? true : false

- var chk51 = (app && app.pg38q26 === "yes")? true : false
- var chk52 = (app && app.pg38q26 === "no")? true : false

- var chk53 = (app && app.pg38q27 === "yes")? true : false
- var chk54 = (app && app.pg38q27 === "no")? true : false

- var chk55 = (app && app.pg38q28 === "yes")? true : false
- var chk56 = (app && app.pg38q28 === "no")? true : false

- var chk57 = (app && app.pg38q29 === "yes")? true : false
- var chk58 = (app && app.pg38q29 === "no")? true : false

- var chk59 = (app && app.pg38q30 === "yes")? true : false
- var chk60 = (app && app.pg38q30 === "no")? true : false

- var chk61 = (app && app.pg38q31 === "yes")? true : false
- var chk62 = (app && app.pg38q31 === "no")? true : false

- var chk63 = (app && app.pg38q32 === "yes")? true : false
- var chk64 = (app && app.pg38q32 === "no")? true : false

- var chk65 = (app && app.pg38q33 === "yes")? true : false
- var chk66 = (app && app.pg38q33 === "no")? true : false

- var chk67 = (app && app.pg38q34 === "yes")? true : false
- var chk68 = (app && app.pg38q34 === "no")? true : false

- var chk69 = (app && app.pg38q35 === "yes")? true : false
- var chk70 = (app && app.pg38q35 === "no")? true : false

- var chk71 = (app && app.pg38q36 === "yes")? true : false
- var chk72 = (app && app.pg38q36 === "no")? true : false


- var chk73 = (app && app.pg38q37 === "yes")? true : false
- var chk74 = (app && app.pg38q37 === "no")? true : false


- var chk75 = (app && app.pg38q38 === "yes")? true : false
- var chk76 = (app && app.pg38q38 === "no")? true : false

- var chk77 = (app && app.pg38q39 === "yes")? true : false
- var chk78 = (app && app.pg38q39 === "no")? true : false

- var chk79 = (app && app.pg38q40 === "yes")? true : false
- var chk80 = (app && app.pg38q40 === "no")? true : false

- var chk81 = (app && app.pg38q41 === "yes")? true : false
- var chk82 = (app && app.pg38q41 === "no")? true : false

- var chk83 = (app && app.pg38q42 === "yes")? true : false
- var chk84 = (app && app.pg38q42 === "no")? true : false

- var chk85 = (app && app.pg38q43 === "yes")? true : false
- var chk86 = (app && app.pg38q43 === "no")? true : false

- var chk87 = (app && app.pg38q44 === "yes")? true : false
- var chk88 = (app && app.pg38q44 === "no")? true : false

- var chk89 = (app && app.pg38q45 === "yes")? true : false
- var chk90 = (app && app.pg38q45 === "no")? true : false

- var chk91 = (app && app.pg38q46 === "yes")? true : false
- var chk92 = (app && app.pg38q46 === "no")? true : false

- var chk93 = (app && app.pg38q47 === "yes")? true : false
- var chk94 = (app && app.pg38q47 === "no")? true : false

- var chk95 = (app && app.pg38q48 === "yes")? true : false
- var chk96 = (app && app.pg38q48 === "no")? true : false

- var chk97 = (app && app.pg38q49 === "yes")? true : false
- var chk98 = (app && app.pg38q49 === "no")? true : false

- var chk99 = (app && app.pg38q50 === "yes")? true : false
- var chk100 = (app && app.pg38q50 === "no")? true : false

- var chk101 = (app && app.pg38q51 === "yes")? true : false
- var chk102 = (app && app.pg38q51 === "no")? true : false

- var chk103 = (app && app.pg38q52 === "yes")? true : false
- var chk104 = (app && app.pg38q52 === "no")? true : false

- var chk105 = (app && app.pg38q53 === "yes")? true : false
- var chk106 = (app && app.pg38q53 === "no")? true : false

- var chk107 = (app && app.pg38q54 === "yes")? true : false
- var chk108 = (app && app.pg38q54 === "no")? true : false

- var chk109 = (app && app.pg38q55 === "yes")? true : false
- var chk110 = (app && app.pg38q55 === "no")? true : false

- var chk111 = (app && app.pg38q56 === "yes")? true : false
- var chk112 = (app && app.pg38q56 === "no")? true : false

- var chk113 = (app && app.pg38q57 === "yes")? true : false
- var chk114 = (app && app.pg38q57 === "no")? true : false

- var chk115 = (app && app.pg38q58 === "yes")? true : false
- var chk116 = (app && app.pg38q58 === "no")? true : false
























.row
    .col-md-12
        .form-group
            h4.mt-0.header-title.text-center.text-dark B&D HOSPICE SERVICES dba.
            h2.text-center.text-dark TRIUNION HEALTHCARE
            p.card-text.text-center.text-dark 6350 Laurel Canyon Blvd. Ste 207 North Hollywood CA 91606
            br
            br
        .form-group
            h2.text-center.text-dark INITIAL COMPETENCY ASSESSMENT SKILLS CHECKLIST
            h2.text-center.text-dark HOSPICE AIDE
            br
            br
        .form-group.col-md-12.row
            .form-group.col-md-12
                label.text-dark NAME :
                input#pg38name.form-control.waves-float(type='text' value='' name='pg38name')
            .form-group.col-md-6
                label.text-dark DATE OF EMPLOYMENT :
                input#pg38dateofemployment.form-control.waves-float(type='date' value='' name='pg38dateofemployment')
            .form-group.col-md-6
                label.text-dark DATE COMPLETED :
                input#pg38datecompleted.form-control.waves-float(type='date' value='' name='pg38datecompleted')
        .form-group
            .form-row.col-md-12
                .table-responsive
                    table.table.table-bordered.mb-0
                        thead
                            tr

                                th(colspan="4").text-center SELF ASSESSMENT
                                th.text-center(colspan="4" rowspan='3') Competency for the Licensed Practical / Vocational Nurse
                                th.text-center(rowspan='3') Proficiency Required
                                th.text-center(rowspan='3') Evaluation Method
                                th.text-center(rowspan='3') Compentency Validation Indicated By Preceptors Initials and Date



                            tr
                                th(colspan="2").text-center Do you have experience with this skill ?
                                th(colspan="2").text-center Are you competent performing the following :

                            tr
                                th.text-center Yes
                                th.text-center No
                                th.text-center Yes
                                th.text-center No

                        tbody
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 19. Adheres to POC
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q1yes.custom-control-input(type='radio' name='pg38q1' checked=chk1 value='yes')
                                            label.custom-control-label(for='pg38q1yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q1no.custom-control-input(type='radio' name='pg38q1' checked=chk2 value='no')
                                            label.custom-control-label(for='pg38q1no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q2yes.custom-control-input(type='radio' name='pg38q2' checked=chk3 value='yes')
                                            label.custom-control-label(for='pg38q2yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q2no.custom-control-input(type='radio' name='pg38q2' checked=chk4 value='no')
                                            label.custom-control-label(for='pg38q2no')

                                td.text-center(colspan='4')
                                    | a. Reviews POC prior to care
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr1.form-control.waves-float(type='text' name='pg38pr1' value= (app)? app.pg38pr1 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em1.form-control.waves-float(type='text' name='pg38em1' value= (app)? app.pg38em1 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp1.form-control.waves-float(type='text' name='pg38comp1' value= (app)? app.pg38comp1 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q3yes.custom-control-input(type='radio' name='pg38q3' checked=chk5 value='yes')
                                            label.custom-control-label(for='pg38q3yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q3no.custom-control-input(type='radio' name='pg38q3' checked=chk6 value='no')
                                            label.custom-control-label(for='pg38q3no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q4yes.custom-control-input(type='radio' name='pg38q4' checked=chk7 value='yes')
                                            label.custom-control-label(for='pg38q4yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q4no.custom-control-input(type='radio' name='pg38q4' checked=chk8 value='no')
                                            label.custom-control-label(for='pg38q4no')

                                td.text-center(colspan='4')
                                    | b. Performs Services as Ordered
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr2.form-control.waves-float(type='text' name='pg38pr2' value= (app)? app.pg38pr2 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em2.form-control.waves-float(type='text' name='pg38em2' value= (app)? app.pg38em2 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp2.form-control.waves-float(type='text' name='pg38comp2' value= (app)? app.pg38comp2 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q5yes.custom-control-input(type='radio' name='pg38q5' checked=chk9 value='yes')
                                            label.custom-control-label(for='pg38q5yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q5no.custom-control-input(type='radio' name='pg38q5' checked=chk10 value='no')
                                            label.custom-control-label(for='pg38q5no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q6yes.custom-control-input(type='radio' name='pg38q6' checked=chk11 value='yes')
                                            label.custom-control-label(for='pg38q6yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q6no.custom-control-input(type='radio' name='pg38q6' checked=chk12 value='no')
                                            label.custom-control-label(for='pg38q6no')

                                td.text-center(colspan='4')
                                    | c. Documents According to POC
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr3.form-control.waves-float(type='text' name='pg38pr3' value= (app)? app.pg38pr3 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em3.form-control.waves-float(type='text' name='pg38em3' value= (app)? app.pg38em3 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp3.form-control.waves-float(type='text' name='pg38comp3' value= (app)? app.pg38comp3 : '')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q7yes.custom-control-input(type='radio' name='pg38q7' checked=chk13 value='yes')
                                            label.custom-control-label(for='pg38q7yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q7no.custom-control-input(type='radio' name='pg38q7' checked=chk14 value='no')
                                            label.custom-control-label(for='pg38q7no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q8yes.custom-control-input(type='radio' name='pg38q8' checked=chk15 value='yes')
                                            label.custom-control-label(for='pg38q8yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q8no.custom-control-input(type='radio' name='pg38q8' checked=chk16 value='no')
                                            label.custom-control-label(for='pg38q8no')

                                td.text-center(colspan='4')
                                    | D, Communicates / Coordinates If Appropriate
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr4.form-control.waves-float(type='text' name='pg38pr4' value= (app)? app.pg38pr4 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em4.form-control.waves-float(type='text' name='pg38em4' value= (app)? app.pg38em4 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp4.form-control.waves-float(type='text' name='pg38comp4' value= (app)? app.pg38comp4 : '')



                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q9yes.custom-control-input(type='radio' name='pg38q9' checked=chk17 value='yes')
                                            label.custom-control-label(for='pg38q9yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q9no.custom-control-input(type='radio' name='pg38q9' checked=chk18 value='no')
                                            label.custom-control-label(for='pg38q9no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q10yes.custom-control-input(type='radio' name='pg38q10' checked=chk19 value='yes')
                                            label.custom-control-label(for='pg38q10yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q10no.custom-control-input(type='radio' name='pg38q10' checked=chk20 value='no')
                                            label.custom-control-label(for='pg38q10no')
                                td.text-center(colspan='4')
                                    | E. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr5.form-control.waves-float(type='text' name='pg38pr5' value= (app)? app.pg38pr5 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em5.form-control.waves-float(type='text' name='pg38em5' value= (app)? app.pg38em5 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp5.form-control.waves-float(type='text' name='pg38comp5' value= (app)? app.pg38comp5 : '')

                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td

                                    .form-group.col-md-12.text-center


                                td

                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 20. Infection Control
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q11yes.custom-control-input(type='radio' name='pg38q11' checked=chk21 value='yes')
                                            label.custom-control-label(for='pg38q11yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q11no.custom-control-input(type='radio' name='pg38q11' checked=chk22 value='no')
                                            label.custom-control-label(for='pg38q11no')
                                td

                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q12yes.custom-control-input(type='radio' name='pg38q12' checked=chk23 value='yes')
                                            label.custom-control-label(for='pg38q12yes')

                                td

                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q12no.custom-control-input(type='radio' name='pg38q12' checked=chk24 value='no')
                                            label.custom-control-label(for='pg38q12no')

                                td.text-center(colspan='4')
                                    | A. Hand Washing
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr6.form-control.waves-float(type='text' name='pg38pr6' value= (app)? app.pg38pr6 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em6.form-control.waves-float(type='text' name='pg38em6' value= (app)? app.pg38em6 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp6.form-control.waves-float(type='text' name='pg38comp6' value= (app)? app.pg38comp6 : '')


                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q13yes.custom-control-input(type='radio' name='pg38q13' checked=chk25 value='yes')
                                            label.custom-control-label(for='pg38q13yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q13no.custom-control-input(type='radio' name='pg38q13' checked=chk26 value='no')
                                            label.custom-control-label(for='pg38q13no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q14yes.custom-control-input(type='radio' name='pg38q14' checked=chk27 value='yes')
                                            label.custom-control-label(for='pg38q14yes')

                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q14no.custom-control-input(type='radio' name='pg38q14' checked=chk28 value='no')
                                            label.custom-control-label(for='pg38q14no')

                                td.text-center(colspan='4')
                                    | B. Proper Bag Technique
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr7.form-control.waves-float(type='text' name='pg38pr7' value= (app)? app.pg38pr7 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em7.form-control.waves-float(type='text' name='pg38em7' value= (app)? app.pg38em7 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp7.form-control.waves-float(type='text' name='pg38comp7' value= (app)? app.pg38comp7 : '')



                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q15yes.custom-control-input(type='radio' name='pg38q15' checked=chk29 value='yes')
                                            label.custom-control-label(for='pg38q15yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q15no.custom-control-input(type='radio' name='pg38q15' checked=chk30 value='no')
                                            label.custom-control-label(for='pg38q15no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q16yes.custom-control-input(type='radio' name='pg38q16' checked=chk31 value='yes')
                                            label.custom-control-label(for='pg38q16yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q16no.custom-control-input(type='radio' name='pg38q16' checked=chk32 value='no')
                                            label.custom-control-label(for='pg38q16no')

                                td.text-center(colspan='4')
                                    | C. Protective Equipment
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr8.form-control.waves-float(type='text' name='pg38pr8' value= (app)? app.pg38pr8 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em8.form-control.waves-float(type='text' name='pg38em8' value= (app)? app.pg38em8 : '')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp8.form-control.waves-float(type='text' name='pg38comp8' value= (app)? app.pg38comp8 : '')


                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q17yes.custom-control-input(type='radio' name='pg38q17' checked=chk33 value='yes')
                                            label.custom-control-label(for='pg38q17yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q17no.custom-control-input(type='radio' name='pg38q17' checked=chk34 value='no')
                                            label.custom-control-label(for='pg38q17no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q18yes.custom-control-input(type='radio' name='pg38q18' checked=chk35 value='yes')
                                            label.custom-control-label(for='pg38q18yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q18no.custom-control-input(type='radio' name='pg38q18' checked=chk36 value='no')
                                            label.custom-control-label(for='pg38q18no')

                                td.text-center(colspan='4')
                                    | D. Exposure Plan
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr9.form-control.waves-float(type='text' value= (app)? app.pg38pr9 : '' name='pg38pr9')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em9.form-control.waves-float(type='text' value= (app)? app.pg38em9 : '' name='pg38em9')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp9.form-control.waves-float(type='text' value= (app)? app.pg38comp9 : '' name='pg38comp9')

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q21yes.custom-control-input(type='radio' name='pg38q19' checked=chk37 value='yes')
                                            label.custom-control-label(for='pg38q21yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q21no.custom-control-input(type='radio' name='pg38q19' checked=chk38 value='no')
                                            label.custom-control-label(for='pg38q21no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q22yes.custom-control-input(type='radio' name='pg38q20' checked=chk39 value='yes')
                                            label.custom-control-label(for='pg38q22yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q22no.custom-control-input(type='radio' name='pg38q20' checked=chk40 value='no')
                                            label.custom-control-label(for='pg38q22no')

                                td.text-center(colspan='4')
                                    | E. Equipment Care
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr11.form-control.waves-float(type='text' value= (app)? app.pg38pr11 : '' name='pg38pr11')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em11.form-control.waves-float(type='text' value= (app)? app.pg38em11 : '' name='pg38em11')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp11.form-control.waves-float(type='text' value= (app)? app.pg38comp11 : '' name='pg38comp11')


                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q23yes.custom-control-input(type='radio' name='pg38q21' checked=chk41 value='yes')
                                            label.custom-control-label(for='pg38q23yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q23no.custom-control-input(type='radio' name='pg38q21' checked=chk42 value='no')
                                            label.custom-control-label(for='pg38q23no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q24yes.custom-control-input(type='radio' name='pg38q22' checked=chk43 value='yes')
                                            label.custom-control-label(for='pg38q24yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q24no.custom-control-input(type='radio' name='pg38q22' checked=chk44 value='no')
                                            label.custom-control-label(for='pg38q24no')

                                td.text-center(colspan='4')
                                    | F. Other
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr12.form-control.waves-float(type='text' value= (app)? app.pg38pr12 : '' name='pg38pr12')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em12.form-control.waves-float(type='text' value= (app)? app.pg38em12 : '' name='pg38em12')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp12.form-control.waves-float(type='text' value= (app)? app.pg38comp12 : '' name='pg38comp12')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q25yes.custom-control-input(type='radio' name='pg38q23' checked=chk45 value='yes')
                                            label.custom-control-label(for='pg38q25yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q25no.custom-control-input(type='radio' name='pg38q23' checked=chk46 value='no')
                                            label.custom-control-label(for='pg38q25no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q26yes.custom-control-input(type='radio' name='pg38q24' checked=chk47 value='yes')
                                            label.custom-control-label(for='pg38q26yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q26no.custom-control-input(type='radio' name='pg38q24' checked=chk48 value='no')
                                            label.custom-control-label(for='pg38q26no')

                                td.text-center(colspan='4')
                                    | 21. Emergency Procedures
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr13.form-control.waves-float(type='text' value= (app)? app.pg38pr13 : '' name='pg38pr13')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em13.form-control.waves-float(type='text' value= (app)? app.pg38em13 : '' name='pg38em13')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp13.form-control.waves-float(type='text' value= (app)? app.pg38comp13 : '' name='pg38comp13')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q29yes.custom-control-input(type='radio' name='pg38q25' checked=chk49 value='yes')
                                            label.custom-control-label(for='pg38q29yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q29no.custom-control-input(type='radio' name='pg38q25' checked=chk50 value='no')
                                            label.custom-control-label(for='pg38q29no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q30yes.custom-control-input(type='radio' name='pg38q26' checked=chk51 value='yes')
                                            label.custom-control-label(for='pg38q30yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q30no.custom-control-input(type='radio' name='pg38q26' checked=chk52 value='no')
                                            label.custom-control-label(for='pg38q30no')

                                td.text-center(colspan='4')
                                    | 22. Reports and Documents key information to case manager supervisor
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr15.form-control.waves-float(type='text' value= (app)? app.pg38pr15 : '' name='pg38pr15')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em15.form-control.waves-float(type='text' value= (app)? app.pg38em15 : '' name='pg38em15')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp15.form-control.waves-float(type='text' value= (app)? app.pg38comp15 : '' name='pg38comp15')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q31yes.custom-control-input(type='radio' name='pg38q27' checked=chk53 value='yes')
                                            label.custom-control-label(for='pg38q31yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q31no.custom-control-input(type='radio' name='pg38q27' checked=chk54 value='no')
                                            label.custom-control-label(for='pg38q31no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q32yes.custom-control-input(type='radio' name='pg38q28' checked=chk55 value='yes')
                                            label.custom-control-label(for='pg38q32yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q32no.custom-control-input(type='radio' name='pg38q28' checked=chk56 value='no')
                                            label.custom-control-label(for='pg38q32no')

                                td.text-center(colspan='4')
                                    | 23. Knows Resources HME Lab, other services
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr16.form-control.waves-float(type='text' value= (app)? app.pg38pr16 : '' name='pg38pr16')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em16.form-control.waves-float(type='text' value= (app)? app.pg38em16 : '' name='pg38em16')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp16.form-control.waves-float(type='text' value= (app)? app.pg38comp16 : '' name='pg38comp16')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q33yes.custom-control-input(type='radio' name='pg38q29' checked=chk57 value='yes')
                                            label.custom-control-label(for='pg38q33yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q33no.custom-control-input(type='radio' name='pg38q29' checked=chk58 value='no')
                                            label.custom-control-label(for='pg38q33no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q34yes.custom-control-input(type='radio' name='pg38q30' checked=chk59 value='yes')
                                            label.custom-control-label(for='pg38q34yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q34no.custom-control-input(type='radio' name='pg38q30' checked=chk60 value='no')
                                            label.custom-control-label(for='pg38q34no')

                                td.text-center(colspan='4')
                                    | 24. Submits written summary reports as indicated
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr17.form-control.waves-float(type='text' value= (app)? app.pg38pr17 : '' name='pg38pr17')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em17.form-control.waves-float(type='text' value= (app)? app.pg38em17 : '' name='pg38em17')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp17.form-control.waves-float(type='text' value= (app)? app.pg38comp17 : '' name='pg38comp17')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q35yes.custom-control-input(type='radio' name='pg38q31' checked=chk61 value='yes')
                                            label.custom-control-label(for='pg38q35yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q35no.custom-control-input(type='radio' name='pg38q31' checked=chk62 value='no')
                                            label.custom-control-label(for='pg38q35no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q36yes.custom-control-input(type='radio' name='pg38q32' checked=chk63 value='yes')
                                            label.custom-control-label(for='pg38q36yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q36no.custom-control-input(type='radio' name='pg38q32' checked=chk64 value='no')
                                            label.custom-control-label(for='pg38q36no')

                                td.text-center(colspan='4')
                                    | 25. Attends case conference as required
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr18.form-control.waves-float(type='text' value= (app)? app.pg38pr18 : '' name='pg38pr18')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em19.form-control.waves-float(type='text' value= (app)? app.pg38em19 : '' name='pg38em19')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp20.form-control.waves-float(type='text' value= (app)? app.pg38comp20 : '' name='pg38comp20')

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q37yes.custom-control-input(type='radio' name='pg38q33' checked=chk65 value='yes')
                                            label.custom-control-label(for='pg38q37yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q37no.custom-control-input(type='radio' name='pg38q33' checked=chk66 value='no')
                                            label.custom-control-label(for='pg38q37no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q38yes.custom-control-input(type='radio' name='pg38q34' checked=chk67 value='yes')
                                            label.custom-control-label(for='pg38q38yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q38no.custom-control-input(type='radio' name='pg38q34' checked=chk68 value='no')
                                            label.custom-control-label(for='pg38q38no')

                                td.text-center(colspan='4')
                                    | 26. Patient Safety / Fails Risk
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr21.form-control.waves-float(type='text' value= (app)? app.pg38pr21 : '' name='pg38pr21')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em22.form-control.waves-float(type='text' value= (app)? app.pg38em22 : '' name='pg38em22')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp23.form-control.waves-float(type='text' value= (app)? app.pg38comp23 : '' name='pg38comp23')
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 27. Meal Preparation :
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q39yes.custom-control-input(type='radio' name='pg38q35' checked=chk69 value='yes')
                                            label.custom-control-label(for='pg38q39yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q39no.custom-control-input(type='radio' name='pg38q35' checked=chk70 value='no')
                                            label.custom-control-label(for='pg38q39no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q40yes.custom-control-input(type='radio' name='pg38q36' checked=chk71 value='yes')
                                            label.custom-control-label(for='pg38q40yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q40no.custom-control-input(type='radio' name='pg38q36' checked=chk72 value='no')
                                            label.custom-control-label(for='pg38q40no')

                                td.text-center(colspan='4')
                                    | A. Feeding
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr24.form-control.waves-float(type='text' value= (app)? app.pg38pr24 : '' name='pg38pr24')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em25.form-control.waves-float(type='text' value= (app)? app.pg38em25 : '' name='pg38em25')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp26.form-control.waves-float(type='text' value= (app)? app.pg38comp26 : '' name='pg38comp26')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q41yes.custom-control-input(type='radio' name='pg38q37' checked=chk73 value='yes')
                                            label.custom-control-label(for='pg38q41yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q41no.custom-control-input(type='radio' name='pg38q37' checked=chk74 value='no')
                                            label.custom-control-label(for='pg38q41no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q42yes.custom-control-input(type='radio' name='pg38q38' checked=chk75 value='yes')
                                            label.custom-control-label(for='pg38q42yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q42no.custom-control-input(type='radio' name='pg38q38' checked=chk76 value='no')
                                            label.custom-control-label(for='pg38q42no')

                                td.text-center(colspan='4')
                                    | B. Diabetic Diet
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr27.form-control.waves-float(type='text' value= (app)? app.pg38pr27 : '' name='pg38pr27')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em28.form-control.waves-float(type='text' value= (app)? app.pg38em28 : '' name='pg38em28')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp29.form-control.waves-float(type='text' value= (app)? app.pg38comp29 : '' name='pg38comp29')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q43yes.custom-control-input(type='radio' name='pg38q39' checked=chk77 value='yes')
                                            label.custom-control-label(for='pg38q43yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q43no.custom-control-input(type='radio' name='pg38q39' checked=chk78 value='no')
                                            label.custom-control-label(for='pg38q43no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q44yes.custom-control-input(type='radio' name='pg38q40' checked=chk79 value='yes')
                                            label.custom-control-label(for='pg38q44yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q44no.custom-control-input(type='radio' name='pg38q40' checked=chk80 value='no')
                                            label.custom-control-label(for='pg38q44no')

                                td.text-center(colspan='4')
                                    | C. Low Sodium
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr30.form-control.waves-float(type='text' value= (app)? app.pg38pr30 : '' name='pg38pr30')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em31.form-control.waves-float(type='text' value= (app)? app.pg38em31 : '' name='pg38em31')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp32.form-control.waves-float(type='text' value= (app)? app.pg38comp32 : '' name='pg38comp32')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q45yes.custom-control-input(type='radio' name='pg38q41' checked=chk81 value='yes')
                                            label.custom-control-label(for='pg38q45yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q45no.custom-control-input(type='radio' name='pg38q41' checked=chk82 value='no')
                                            label.custom-control-label(for='pg38q45no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q46yes.custom-control-input(type='radio' name='pg38q42' checked=chk83 value='yes')
                                            label.custom-control-label(for='pg38q46yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q46no.custom-control-input(type='radio' name='pg38q42' checked=chk84 value='no')
                                            label.custom-control-label(for='pg38q46no')

                                td.text-center(colspan='4')
                                    | D. Low Cholesterol / Fat
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr33.form-control.waves-float(type='text' value= (app)? app.pg38pr33 : '' name='pg38pr33')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em34.form-control.waves-float(type='text' value= (app)? app.pg38em34 : '' name='pg38em34')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp35.form-control.waves-float(type='text' value= (app)? app.pg38comp35 : '' name='pg38comp35')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q47yes.custom-control-input(type='radio' name='pg38q43' checked=chk85 value='yes')
                                            label.custom-control-label(for='pg38q45yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q47no.custom-control-input(type='radio' name='pg38q43' checked=chk86 value='no')
                                            label.custom-control-label(for='pg38q45no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q48yes.custom-control-input(type='radio' name='pg38q44' checked=chk87 value='yes')
                                            label.custom-control-label(for='pg38q46yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q48no.custom-control-input(type='radio' name='pg38q44' checked=chk88 value='no')
                                            label.custom-control-label(for='pg38q46no')

                                td.text-center(colspan='4')
                                    | 28. Light Housekeeping
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr36.form-control.waves-float(type='text' value= (app)? app.pg38pr36 : '' name='pg38pr36')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em38.form-control.waves-float(type='text' value= (app)? app.pg38em38 : '' name='pg38em38')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp38.form-control.waves-float(type='text' value= (app)? app.pg38comp38 : '' name='pg38comp38')

                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q51yes.custom-control-input(type='radio' name='pg38q45' checked=chk89 value='yes')
                                            label.custom-control-label(for='pg38q51yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q51no.custom-control-input(type='radio' name='pg38q45' checked=chk90 value='no')
                                            label.custom-control-label(for='pg38q51no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q52yes.custom-control-input(type='radio' name='pg38q46' checked=chk91 value='yes')
                                            label.custom-control-label(for='pg38q52yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q52no.custom-control-input(type='radio' name='pg38q46' checked=chk92 value='no')
                                            label.custom-control-label(for='pg38q52no')

                                td.text-center(colspan='4')
                                    | 29. Linen Change / Wash Clothing
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr39.form-control.waves-float(type='text' value= (app)? app.pg38pr39 : '' name='pg38pr39')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em40.form-control.waves-float(type='text' value= (app)? app.pg38em40 : '' name='pg38em40')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp41.form-control.waves-float(type='text' value= (app)? app.pg38comp41 : '' name='pg38comp41')
                            tr
                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center

                                td
                                    .form-group.col-md-12.text-center


                                td.text-center(colspan='4')
                                    | 30. Hospice concept and philosophy of care
                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                                td
                                    .form-group.col-md-12


                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q54yes.custom-control-input(type='radio' name='pg38q47' checked=chk93 value='yes')
                                            label.custom-control-label(for='pg38q54yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q54no.custom-control-input(type='radio' name='pg38q47' checked=chk94 value='no')
                                            label.custom-control-label(for='pg38q54no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q55yes.custom-control-input(type='radio' name='pg38q48' checked=chk95 value='yes')
                                            label.custom-control-label(for='pg38q55yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q55no.custom-control-input(type='radio' name='pg38q48' checked=chk96 value='no')
                                            label.custom-control-label(for='pg38q55no')

                                td.text-center(colspan='4')
                                    | A. Treating the patient/family as the unit of care
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr42.form-control.waves-float(type='text' value= (app)? app.pg38pr42 : '' name='pg38pr42')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em43.form-control.waves-float(type='text' value= (app)? app.pg38em43 : '' name='pg38em43')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp44.form-control.waves-float(type='text' value= (app)? app.pg38comp44 : '' name='pg38comp44')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q57yes.custom-control-input(type='radio' name='pg38q49' checked=chk97 value='yes')
                                            label.custom-control-label(for='pg38q57yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q57no.custom-control-input(type='radio' name='pg38q49' checked=chk98 value='no')
                                            label.custom-control-label(for='pg38q57no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q58yes.custom-control-input(type='radio' name='pg38q50' checked=chk99 value='yes')
                                            label.custom-control-label(for='pg38q58yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q58no.custom-control-input(type='radio' name='pg38q50' checked=chk100 value='no')
                                            label.custom-control-label(for='pg38q58no')

                                td.text-center(colspan='4')
                                    | B. Palliative care approaches
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr45.form-control.waves-float(type='text' value= (app)? app.pg38pr45 : '' name='pg38pr45')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em46.form-control.waves-float(type='text' value= (app)? app.pg38em46 : '' name='pg38em46')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp47.form-control.waves-float(type='text' value= (app)? app.pg38comp47 : '' name='pg38comp47')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q59yes.custom-control-input(type='radio' name='pg38q51' checked=chk101 value='yes')
                                            label.custom-control-label(for='pg38q59yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q59no.custom-control-input(type='radio' name='pg38q51' checked=chk102 value='no')
                                            label.custom-control-label(for='pg38q59no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q60yes.custom-control-input(type='radio' name='pg38q52' checked=chk103 value='yes')
                                            label.custom-control-label(for='pg38q60yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q60no.custom-control-input(type='radio' name='pg38q52' checked=chk104 value='no')
                                            label.custom-control-label(for='pg38q60no')

                                td.text-center(colspan='4')
                                    | C. Interdiciplinary practice
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38pr48.form-control.waves-float(type='text' value= (app)? app.pg38pr48 : '' name='pg38pr48')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38em49.form-control.waves-float(type='text' value= (app)? app.pg38em49 : '' name='pg38em49')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp50.form-control.waves-float(type='text' value= (app)? app.pg38comp50 : '' name='pg38comp50')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q61yes.custom-control-input(type='radio' name='pg38q53' checked=chk105 value='yes')
                                            label.custom-control-label(for='pg38q61yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q61no.custom-control-input(type='radio' name='pg38q53' checked=chk106 value='no')
                                            label.custom-control-label(for='pg38q61no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q62yes.custom-control-input(type='radio' name='pg38q54' checked=chk107 value='yes')
                                            label.custom-control-label(for='pg38q62yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q62no.custom-control-input(type='radio' name='pg38q54' checked=chk108 value='no')
                                            label.custom-control-label(for='pg38q62no')

                                td.text-center(colspan='4')
                                    | D. Demonstrating Continuity of care at inpatient settings alternate settings
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp51.form-control.waves-float(type='text' value= (app)? app.pg38comp51 : '' name='pg38comp51')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp52.form-control.waves-float(type='text' value= (app)? app.pg38comp52 : '' name='pg38comp52')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp53.form-control.waves-float(type='text' value= (app)? app.pg38comp53 : '' name='pg38comp53')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q63yes.custom-control-input(type='radio' name='pg38q55' checked=chk109 value='yes')
                                            label.custom-control-label(for='pg38q63yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q63no.custom-control-input(type='radio' name='pg38q55' checked=chk110 value='no')
                                            label.custom-control-label(for='pg38q63no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q64yes.custom-control-input(type='radio' name='pg38q56' checked=chk111 value='yes')
                                            label.custom-control-label(for='pg38q64yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q64no.custom-control-input(type='radio' name='pg38q56' checked=chk112 value='no')
                                            label.custom-control-label(for='pg38q64no')

                                td.text-center(colspan='4')
                                    | E. Philosophy of comport, dignity autonomy, quality of life, and empowerment
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp57.form-control.waves-float(type='text' value= (app)? app.pg38comp57 : '' name='pg38comp57')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp58.form-control.waves-float(type='text' value= (app)? app.pg38comp58 : '' name='pg38comp58')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp59.form-control.waves-float(type='text' value= (app)? app.pg38comp59 : '' name='pg38comp59')
                            tr
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q65yes.custom-control-input(type='radio' name='pg38q57' checked=chk113 value='yes')
                                            label.custom-control-label(for='pg38q65yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q65no.custom-control-input(type='radio' name='pg38q57' checked=chk114 value='no')
                                            label.custom-control-label(for='pg38q65no')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q66yes.custom-control-input(type='radio' name='pg38q58' checked=chk115 value='yes')
                                            label.custom-control-label(for='pg38q66yes')
                                td
                                    .form-group.col-md-12.text-center
                                        .custom-control.custom-radio
                                            input#pg38q66no.custom-control-input(type='radio' name='pg38q58' checked=chk116 value='no')
                                            label.custom-control-label(for='pg38q66no')

                                td.text-center(colspan='4')
                                    | F. OTHER
                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp54.form-control.waves-float(type='text' value= (app)? app.pg38comp54 : '' name='pg38comp54')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp55.form-control.waves-float(type='text' value= (app)? app.pg38comp55 : '' name='pg38comp55')

                                td
                                    .form-group.col-md-12
                                        label.text-dark
                                        input#pg38comp56.form-control.waves-float(type='text' value= (app)? app.pg38comp56 : '' name='pg38comp56')


